<!DOCTYPE html>
<html>
<head>
  <title>SampleApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
<% if user_signed_in?%>
 <span  style="float:right;margin-top:-90px;margin-right:60px"><%= @current_user.email%> | </span> <%= link_to 'Logout', destroy_user_session_path(@current_user), method: :delete ,:class => 'login'%>
<% end %>
</body>
</html>
<style>
 .login{
float:right;
margin-top:-90px;
}
</style>
